<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>
        <main>
          <h1>404</h1>
        </main>
        
        <footer>
            <%- include('../partials/footer'); %>
        </footer>

</html>