<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Flotas</title>
        <link rel="stylesheet" href="/public/stylesheets/flotas.css">
        <link rel="stylesheet" href="/public/stylesheets/styles.css">

        <script src="/public/scripts/flotas.js"></script>
    </head>

    <body class="container">

        <%- include('../partials/sidebar'); %>

        <%- include('../partials/mantenimientoHeader', {title: 'Flotas' }); %>
        <%- include('../partials/mantenimientoToolBar'); %>
        <%- include('../partials/table', {title: 'Flotas' }); %>


    </body>

</html>