<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Pedidos</title>
        <link rel="stylesheet" href="/public/stylesheets/pedidos.css">
        <link rel="stylesheet" href="/public/stylesheets/styles.css">
        <style>
            #btn-ped {
                background-color: #FFD100;
            }
        </style>
    </head>

    <body class="container">

        <%- include('../partials/sidebar'); %>
            <div class="main-continaer pedido-flota-container">
                <%- include('../partials/mantenimientoHeader', {title: 'Pedidos' }); %>
                    <%- include('../partials/mantenimientoToolBar'); %>
                        <!-- <%- include('../partials/table', {title: 'Pedidos' }); %> -->
                        <div class="tablaPedidos">
                            <table border="1">
                                <thead>
                                    <tr>
                                        <th>ID Pedido</th>
                                        <th>X</th>
                                        <th>Y</th>
                                        <th>Fecha de Inicio</th>
                                        <th>Fecha de Fin</th>
                                        <th>GLP</th>
                                    </tr>
                                </thead>
                                <tbody id="tablaPedidosBody"></tbody>
                            </table>
                        </div>

            </div>
    </body> 
        <script type="text/javascript" src="/public/scripts/pedidos.js"></script>
</html>