<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Pedidos</title>
        <link rel="stylesheet" href="/public/stylesheets/pedidos.css">
        <link rel="stylesheet" href="/public/stylesheets/styles.css">
        <style>
            #btn-ped {
                background-color: #FFD100;
            }
        </style>
    </head>

    <body class="container">

        <%- include('../partials/sidebar'); %>
            <div class="main-continaer pedido-flota-container">
                <%- include('../partials/mantenimientoHeader', {title: 'Pedidos' }); %>
                    <%- include('../partials/mantenimientoToolBar'); %>
                        <%- include('../partials/table', {title: 'Pedidos' }); %>

            </div>


        <script type="text/javascript" src="/public/scripts/pedidos.js"></script>

    </body>

</html>