<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Simulación</title>
        <link rel="stylesheet" href="/public/stylesheets/simulacion.css" />
        <link rel="stylesheet" href="/public/stylesheets/map.css" />
        <link rel="stylesheet" href="/public/stylesheets/styles.css" />

        <style>
            #btn-sim {
                background-color: #00d5ff;
            }
        </style>

    </head>

    <body class="container">
        <%- include('../partials/sidebar'); %>
            <div class="main-continaer plan-simu-container">
                <h1>Simulación</h1>
                <div class="controles">
                    <div class="carga-container">
                        <!-- <div id="clock"></div> -->

                        <!-- <script src="clock.js"></script> -->
                        <!-- <img src="/public/images/filetype-txt.svg" alt="archivo" width="30px" /> -->
                        <input type="file" id="cmBloqueos" accept=".txt" />
                        <button id="btnBloqueos">
                            <img src="/public/images/filetype-txt.svg" alt="Pedidos" width="20px" />
                            &nbsp;&nbsp; Cargar Bloqueos
                        </button>
                    </div>

                    <div class="carga-container">
                        <input type="file" id="cmFlota" accept=".txt" />
                        <button id="btnFlota">
                            <img src="/public/images/filetype-txt.svg" alt="Pedidos" width="20px" />
                            &nbsp;&nbsp;Cargar Flotas
                        </button>
                    </div>
                    <div class="carga-container">
                        <input type="file" id="cmPedidos" accept=".txt" />
                        <button id="btnPedidos">
                            <img src="/public/images/filetype-txt.svg" alt="Pedidos" width="20px" />
                            &nbsp;&nbsp;Cargar Pedidos
                        </button>
                    </div>
                    <div class="carga-container">
                        <!-- <button id="btnCarga">
                            <img src="/public/images/filetype-txt.svg" alt="Pedidos" width="20px" />
                            &nbsp;&nbsp;Subir archivos
                        </button> -->
                    </div>

                    <div class="btnVelocidad">
                        <label for="selectSpeed">Velocidad: </label>
                        <select id="selectSpeed">
                            <option value="1">1x</option>
                            <option value="2">2x</option>
                            <option value="3">3x</option>
                            <option value="4">4x</option>
                            <option value="5">5x</option>
                            <option value="6">6x</option>
                            <option value="7">7x</option>
                            <option value="8">8x</option>
                            <option value="9">9x</option>
                            <option value="10">10x</option>
                            <option value="20">20x</option>
                            <option value="30">30x</option>

                        </select>
                    </div>

                    <div class="carga-container">
                        <button id="btnSimular">Simular</button>
                    </div>
                </div>
                <main>
                    <div class="map" id="map"></div>
                    <div class="tools">
                        <div class="resumen">
                            <h2>Pedidos</h2>
                            <table class="table-pedidos">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Destino</th>
                                        <th>Plazo</th>
                                    </tr>
                                </thead>
                                <tbody id="tblPedidos">
                                   
                                </tbody>
                            </table>

                        </div>
                        <div class="resumen">
                            <h2>Resumen</h2>
                            <div class="">
                                <label for="txtFecha">Fecha Inicio: </label>
                                <input type="date" id="txtFecha">
                            </div>
                            <div class="">
                                <label for="txtFechaFinal">Fecha Final: </label>
                                <input type="date" id="txtFechaFinal">
                            </div>
                            <div class="">
                                <label for="txtDuracion">Duracion: </label>
                                <input type="text" id="txtDuracion" disabled>
                            </div>
                            <div class="">
                                <label for="txtPedidosEntregados">Pedidos Entregados: </label>
                                <input type="text" id="txtPedidosEntregados" disabled>
                            </div>
                            <div class="">
                                <label for="txtPedidosProgramados">Pedidos Programados: </label>
                                <input type="text" id="txtPedidosProgramados" disabled>
                            </div>
                            <div class="">
                                <label for="txtCantidadVehiculos">Cantidad de flotas: </label>
                                <input type="text" id="txtCantidadVehiculos" disabled>
                            </div>
                            <div class="">
                                <label for="txtColapso">Colapso: </label>
                                <input type="text" id="txtColapso" disabled />
                            </div>
                        </div>

                </main>
            </div>
    </body>

    <script type="text/javascript" src="/public/scripts/simulacion.js"></script>

</html>