.encabezadoContra {
    font-weight: 500;
    font-size: 15px;
    color: #042354;
}

.iguales {
    color: red;
    font-size: 13px;

}

.confirmacion {

    text-align: center;
    color: #042354;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;


}

.boton-aceptar {
    background-color: #042354;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px !important;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 40%;
    font-family: 'Montserrat', sans-serif;
}