.principalSimulacion{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row ;
}

.principalSimulacionIzq{

    width: 80%;
    height: 100%;
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

.principalSimulacionDer{

    width: 20%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;
    /* background-color: antiquewhite; */
}

.SimulacionLadoIzq{
    width: 95%;
    height: 100%;
    text-align: left;
    /* background-color: black; */
}

.SimulacionTitulo{
    width: 100%;
    height: 8%;
    /* background-color: aliceblue; */
}
.SimulacionMapa{
    width: 100%;
    height: 80%;
    /* background-color:black; */
}

.SimulacionLadoDer{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: orange; */
    /* text-align: center; */
}

.mapaSimulado{
    
    position: absolute;
    top: 0;
    left: 0;
    background-color: aliceblue;
}

.SimulacionBotonesDer{
    width: 100%;
    height: 20.5%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
}
.SimulacionConfigurar{

    width: 100%;
    height: 30%;

    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction:column;

}

.SimulacionResumen{
    width: 100%;
    height: 49.5%;
    display: flex;
    /* background-color: red; */

}

.SimulacionConfigTItulo{

    width: 100%;
    height: 20%;
    display: flex;
    /* text-align: center; */
    /* background-color: aqua; */

}

.SimulacionConfigBody{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    text-align: start;
    /* background-color: antiquewhite; */
    font-size: small;
    
}