.map {
  width: 1050px;
  height: 750px;
  background: #ccc;
  position: relative;
}

.map__cell {
  width: 15px;
  height: 15px;
  background: white;
  border: #ccc solid 1px;
  position: absolute;
  left: 0;
  top: 0;
}

.map__cell:hover {
  background: #ccc;
}

.map__cell__custom {
  background: white;
}

.map__cell__custom_current {
  background: orange;
}

.map__cell__block {
  background: black;
}

.map__cell__vehicle {
  background: blue;
}

.map__cell__road {
  background: grey;
}

.map__cell__depot {
  background: red;
}
