body {
  background-color: #f0f0f0;
  padding: 0px;
  margin: 0px;
}

main {
  padding: 0px;
}

html {
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

a {
    text-decoration: none;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.main-continaer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 50px;
}

/* side bar */

.sidebar {
  background-color: white;
  width: 250px;
}

.logo {
  width: 100px;
  margin: 50px auto;
  margin-top: 30px;
  display: block;
}

.menu-option {
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 60px;
    padding: 5px;
    border-radius: 25px;
}

.menu-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}
.menu-button b {
  font-size: 20px;
  margin-left: 10px;
}
.menu-button img {
  width: 30px;
}

.sidebar ul {
  margin: 0px;
  padding-inline-start: 20px;
  padding-right: 30px;
}




/* planificacion y simulacion */

input[type="file"] {
  display: none;
}

.plan-simu-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
}


.plan-simu-container .controles
{
    width: 100%;
    height: 100px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    gap: 20px;
}

.plan-simu-container .controles .carga-container{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.plan-simu-container .controles .carga-container button{
    width: 80%;
    height: 50%;
    border-radius: 15px;
    background-color: #00d5ff;
    border: 0px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.plan-simu-container .controles .btnVelocidad{
    width: 100%;
    height: 50%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.plan-simu-container .controles .btnVelocidad input[type="select"] {
    width:100%;
    height: 50%;
}


.plan-simu-container main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.plan-simu-container main .tools {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    position: relative;
    margin-left: 30px;
    margin-right: 20px;
    border-radius: 15px;
    right: 0;
}

.plan-simu-container main .tools .resumen {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 50px;
    border-radius: 15px;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}
.plan-simu-container main .tools .resumen .table-pedidos {
    gap: 10px;
    border-collapse: collapse;
    overflow-y: scroll;
    height: 300px;
    display: unset;
}

/* fix table head */
.plan-simu-container main .tools .resumen .table-pedidos thead {
    position: sticky;
    top: 0;
    background-color: white;
}

.plan-simu-container main .tools .resumen .table-pedidos thead tr th {
    padding: 10px;
    text-align: left;
}

.plan-simu-container main .tools .resumen .table-pedidos tbody tr td {
    text-align: left;
    padding: 10px;
}

/* align head and body column */
.plan-simu-container main .tools .resumen .table-pedidos tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.plan-simu-container main .tools .resumen .table-pedidos tbody  tr:nth-child(odd) {
  background-color: #ffffff;
}




/* pedidos y flota */

.pedido-flota-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
}