.principalPedidos{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background-color: aqua; */

}
.tituloPedidos{
    width: 95%;
    height: 15%;
    display: flex;
    /* background-color: black; */
    align-items: center;
    justify-content: center;
    text-align: center;
}

.buscadorPedidos{

    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background-color:bisque; */
}

.contenedorTablaPedidos{
    width: 100%;
    height: 70%;
    /* background-color:aqua; */
}

.tituloPedidosIzq{

    width: 80%;
    height: 100%;
    display: flex;
    /* background-color: beige; */
    align-items: end;
    justify-content: left;
    text-align: left;
    justify-items: end;
    vertical-align: bottom;
    font-family: 'Inter-light', sans-serif;
    font-size: larger;
    font-weight: 100;
}

.seccionBotonesPedidos{
    width: 100%;
    height: 40%;
    display: flex;
    /* background-color: aqua; */
}

.botonIzqPedidos{
    width: 50%;
    height: 100%;
    /* background-color: antiquewhite; */

}

.botonDerPedidos{
    width: 50%;
    height: 100%;
    /* background-color: blue; */
}

.tituloPedidosDer{

    width: 20%;
    height: 100%;
    /* background-color: beige; */

    align-items: end;
    justify-content: center;
    text-align: left;
    justify-items: end;
    display: flex;
    /* background-color: aqua; */
}

.mitadContenedorBuscador{
    width: 50%;
    height: 100%;
    background-color: aqua;
}

.mitadBuscadorIzq{
    width: 50%;
    height: 100%;
    background-color: azure;
    display: flex;
    /* background-color: beige; */
    align-items: center;
    justify-content: left;
    text-align: center;
    justify-items: end;

}

.mitadBuscadorDer{
    width: 50%;
    height: 100%;
}

.contendorBuscador{

    width: 95%;
    height: 80%;
    border-radius: 10px;
    background-color: white;
    border: 1px solid white;
}

.principalTabla{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contenedorTablaPedidos{
    width: 95%;
    height: 95%;
    border-radius: 10px;
    background-color: white;
    border: 1px solid white;

}