<link rel="stylesheet" href="/public/stylesheets/mantenimientoHeader.css" />
<div>
  <h1><%= typeof title !='undefined' ? title : '' %></h1>
  <button>Carga Masiva</button>
  <button>Aregar</button>
</div>
