<link rel="stylesheet" href="/public/stylesheets/mantenimientoToolBar.css">
<div>
    <label for="txtBuscar">Que estas buscando?</label>
    <input type="search" id="txtBuscar" placeholder="Buscar">
</div>