<link rel="stylesheet" href="/public/stylesheets/mantenimientoHeader.css" />
<div class="mantenimiento-header">
  <h1>
    <%= typeof title !='undefined' ? title : '' %>
  </h1>
  <div class="buttons">
    <input type="file" id="loadFile" style="display: none;" />
    <button id="btnCargaMasiva">Carga Masiva</button>
    <!-- <button>Aregar</button> -->
  </div>

</div>