<link rel="stylesheet" href="/public/stylesheets/mantenimientoHeader.css" />
<div class="mantenimiento-header">
  <h1>
    <%= typeof title !='undefined' ? title : '' %>
  </h1>
  <div class="buttons">
    <input type="file" id="loadFile" style="display: none;" />

    <button id="btnBorrarLocal">LimpiarPedidos</button>

    <button id="openModalBtn">Ingresar Pedido</button>
    <!-- openModalBtn -->
    <!-- btnCargaMasiva -->
    <!-- <button>Aregar</button> -->
  </div>
  <script type="text/javascript" src="/public/scripts/mantenimientoHeader.js"></script>


</div>