<link rel="stylesheet" href="/public/stylesheets/sidebar.css" />
<nav class="sidebar">
    <img src="/public/images/logo.svg" alt="Logo" class="logo" />
    <div>
    <ul class="nav">
        <li class="menu-option">
            <a href="/planificacion">
                <i class="menu-button">
                    <img src="/public/images/planificacion.svg" alt="Planificacion" width="50px" />
                    <b>Planificación</b>
                </i>
            </a>
        </li>
        <li class="menu-option">
            <a href="/pedidos">
                <i class="menu-button">
                    <img src="/public/images/pedidos.svg" alt="Pedidos" width="50px" />
                    <b>Pedidos</b>
                </i>
    
            </a>
        </li>
        <li class="menu-option">
            <a href="/flotas">
                <i class="menu-button">
                    <img src="/public/images/flotas.svg" alt="Flotas" width="50px" />
                    <b>Flotas</b>
                </i>
    
            </a>
        </li>
        <li class="menu-option">
            <a href="/simulacion">
                <i class="menu-button">
                    <img src="/public/images/simulacion.svg" alt="Simulacion" width="50px" />
                    <b>Simulación</b>
                </i>
            </a>
        </li>
    
    </ul>

    </div>
</nav>