<link rel="stylesheet" href="/public/stylesheets/sidebar.css" /
<nav class="sidebar">
    <div class="sidebar-wrapper">
        <div class="logo">
            <img src="/public/images/logo.svg" alt="Logo" width="100px" />
        </div>
        <ul class="nav">
            <li>
                <a href="/planificacion">
                    <i>
                        <img src="/public/images/planificacion.svg" alt="Planificacion" width="50px" />
                    <p>Planificación</p>
                    </i>
                </a>
            </li>
            <li>
                <a href="/pedidos">
                    <i>
                        <img src="/public/images/pedidos.svg" alt="Pedidos" width="50px" />
                        <p>Pedidos</p>
                    </i>
                    
                </a>
            </li>
            <li>
                <a href="/flotas">
                    <i>
                        <img src="/public/images/flotas.svg" alt="Flotas" width="50px" />
                        <p>Flotas</p>
                    </i>
                    
                </a>
            </li>
            <li>
                <a href="/simulacion">
                    <i>
                        <img src="/public/images/simulacion.svg" alt="Simulacion" width="50px" />
                    <p>Simulación</p>
                    </i>
                </a>
            </li>

        </ul>
    </div>
</nav>