<link rel="stylesheet" href="/public/stylesheets/table.css">
<div class="table">
    <div>
        <h2>
            <%= typeof title !='undefined' ? title : '' %>
        </h2>
        <div>
            <button>Anterior</button>
            <input type="text" value="1">
            <p>de 10</p>
            <button>Siguiente</button>
        </div>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Sexo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>Edad</td>
                    <td>Sexo</td>
                </tr>
                <tr>
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>Edad</td>
                    <td>Sexo</td>
                </tr>
                <tr>
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>Edad</td>
                    <td>Sexo</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>